/* CSS declarations go here */
body {
  padding: 0;
  margin: 0;
  
 
  color: #123; 

}
div {
        background-color:#FFFFDD;
        padding:15px;
        margin-top:10px;

        }
small {
  margin-top: 1em;
  display: block;
  font-style: oblique;
  font-size: 0.667em;
}
thead{
	font-style: oblique;
	font-weight: bold;
}
table {
    counter-reset: rowNumber;
    border-collapse: separate 3mm ridge yellow
}

table tr {
    counter-increment: rowNumber;
}


tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}